{% extends "base.html" %}

{% block content %}
<header class="jumbotron mb-4">
    <div class="container">
        <h1 class="display-4">Application d'Actualités</h1>
        <p class="lead">Les dernières actualités du jour</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 search-form">
            <!-- Formulaire de recherche -->
            <form class="form-inline" method="get">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" name="q" placeholder="Rechercher...">
                </div>
                <div class="form-group mb-2">
                    <select class="form-control" name="category">
                        <option value="">Toutes les actualités</option>
                        <option value="technology">Technologie</option>
                        <option value="sports">Sports</option>
                        <option value="health">Santé</option>
                        <option value="popular">Populaire</option>
                        <!-- Ajoute d'autres options pour les types d'actualités souhaités -->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2 search-btn">Rechercher</button>
            </form>
        </div>
    </div>

    <div class="row">
        {% for article in articles %}
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="{{ article.image }}" class="card-img-top" alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <a href="{{ article.url }}" class="btn btn-primary" target="_blank">Lire plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Le reste du contenu de la page -->

<div class="pagination">
    {% if articles|length > ARTICLES_PAR_PAGE %}
        {% if page > 1 %}
            <a href="?page={{ page - 1 }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Précédent</a>
        {% endif %}

        {% for page_num in range(1, (articles|length // ARTICLES_PAR_PAGE) + 1) %}
            {% if page_num == page %}
                <span class="current">{{ page_num }}</span>
            {% else %}
                <a href="?page={{ page_num }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">{{ page_num }}</a>
            {% endif %}
        {% endfor %}

        {% if page < articles|length // ARTICLES_PAR_PAGE %}
            <a href="?page={{ page + 1 }}{% if query %}&q={{ query }}{% endif %}{% if category %}&category={{ category }}{% endif %}">Suivant</a>
        {% endif %}
    {% endif %}
</div>

<!-- Le reste du contenu de la page -->


{% endblock %}

