{% extends "base.html" %}

{% block content %}
<header class="jumbotron mb-4">
    <div class="container">
        <h1 class="display-4">Application d'Actualités</h1>
        <p class="lead">Les dernières actualités du jour</p>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2 search-form">
            <!-- Formulaire de recherche -->
            <form class="form-inline" method="get">
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" name="q" placeholder="Rechercher...">
                </div>
                <div class="form-group mb-2">
                    <select class="form-control" name="category">
                        <option value="">Toutes les actualités</option>
                        <option value="technology">Technologie</option>
                        <option value="sports">Sports</option>
                        <option value="health">Santé</option>
                        <option value="popular">Populaire</option>
                        <!-- Ajoute d'autres options pour les types d'actualités souhaités -->
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2 search-btn">Rechercher</button>
            </form>
        </div>
    </div>

    <div class="row">
        {% for article in articles %}
        <div class="col-md-6">
            <div class="card mb-4">
                <img src="{{ article.image }}" class="card-img-top" alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                    <a href="{{ article.url }}" class="btn btn-primary" target="_blank">Lire plus</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
